In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/moviereviews2.tsv', sep='\t')

In [3]:
df.head()

  label                                             review
0   pos  I loved this movie and will watch it again. Or...
1   pos  A warm, touching movie that has a fantasy-like...
2   pos  I was not expecting the powerful filmmaking ex...
3   neg  This so-called "documentary" tries to tell tha...
4   pos  This show has been my escape from reality for ...

In [4]:
df.isnull().sum()

label      0
review    20
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
blanks = []
for i,lb,rv in df.itertuples():
  if type(rv) == str:
    if rv.isspace():
      blanks.append(i)

In [7]:
blanks

[]

In [8]:
df['label'].value_counts()

neg    2990
pos    2990
Name: label, dtype: int64

In [9]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [10]:
sid = SentimentIntensityAnalyzer()

In [11]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

In [12]:
df['compound'] = df['scores'].apply(lambda d: d['compound'])

In [13]:
df.head()

  label  ... compound
0   pos  ...   0.8720
1   pos  ...   0.9549
2   pos  ...   0.7201
3   neg  ...  -0.9821
4   pos  ...   0.9874

[5 rows x 4 columns]



```
# Let's convert this compound value into pos/neg
```

In [14]:
df['compute_score'] = df['compound'].apply(lambda score: 'pos' if score >=0 else 'neg')

In [15]:
df.head()

  label  ... compute_score
0   pos  ...           pos
1   pos  ...           pos
2   pos  ...           pos
3   neg  ...           neg
4   pos  ...           pos

[5 rows x 5 columns]

In [16]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [17]:
print(accuracy_score(df['label'], df['compute_score']))

0.7319397993311036

In [18]:
print(classification_report(df['label'], df['compute_score']))

              precision    recall  f1-score   support

         neg       0.83      0.58      0.68      2990
         pos       0.68      0.88      0.77      2990

    accuracy                           0.73      5980
   macro avg       0.76      0.73      0.73      5980
weighted avg       0.76      0.73      0.73      5980

In [19]:
print(confusion_matrix(df['label'], df['compute_score']))

[[1734 1256]
 [ 347 2643]]